html, body{
	width: 100%;
}

.wrap{
	content: " ";
	display: block;
	clear: both;
	overflow-x: hidden;
	width: 1200px;
}

.left{
	float: left;
	width: 400px;
}


.left div{
	width: 100%;
	color: white;
	font-size: 30px;
	text-align: center;
	text-shadow: 0px 0px 7px #000;
}

.div1{
	background-color: black;
	height: 212px;
	background-image: url("../img/buck.jpg");
	background-size: cover;
}

.div2{
	background-color: blue;
	height: 144px;
	background-image: url(../img/buck.jpg);
}

.div3{
	background-color: green;
	height: 53px;
	background-image: url('../img/buck.jpg');
}

.div4{
	background-color: orange;
	height: 120px;
	background-image: url("http://www.pets4homes.co.uk/images/classifieds/2013/07/12/358148/large/sooty-fawn-mini-lop-buck-for-sale-51df49648e8ab.jpg");
}

.div5{
	background-color: pink;
	height: 325px;
}

.div6{
	background-color: brown;
	height: 125px;
}

.lazyLoaded{
	opacity: 1;
}

.div7{
	background-color: burlywood;
	height: 112px;
}

.div8{
	background-color: blueviolet;
	height: 44px;
}

.div9{
	background-color: darkcyan;
	height: 453px;
}

.div10{
	background-color: grey;
	height: 100px;
}

.div11{
	background-color: khaki;
	height: 125px;
}

.div12{
	background-color: skyblue;
	height: 25px;
}

@media (max-width: 480px) {
	.div1 {
		background-color: lightgreen;
	}
}